
  <div class="card">
    <div class="card-body">
       <% if @one_game_per_day == true %>
             <h5 class="card-title">Let's play Wordly</h5>
                 <p class="card-text">
<!-- GAME CARD STARTS HERE  -->

<pre><%= pp @debug_me %></pre>
<pre><%= pp @one_game_per_day%></pre>
    <%= form_with url: "/check_word", method: :get do |form| %>

      <% @submitted_word_symbols.each do |word_symbol| %>

        <% colours = check_word_colouring(@word_of_the_day, @words[word_symbol]) %>

        <% word = @words[word_symbol].upcase %>

        <p>
        <% for n in 0..4 do  %>
        <%=  content_tag(:span, word[n], :'style' => "background-color:#{colours[n]}"  )  %>
        <% end %>        
        </p>

        <%= form.hidden_field word_symbol, value: @words[word_symbol] %>
      <% end %>
      
     <% if @check_word == 'GUESS THE WORD' || @check_word == 'GUESS ANOTHER WORD' %>
    <li class="list-group-item"><%= form.text_field @next_word_symbol, maxlength: "5", minlength: "5", pattern: /^(?:([A-Za-z])(?!.*\1))*$/ , oninvalid: "this.setCustomValidity('Enter a 5-unique-letter word')", oninput: "this.setCustomValidity('')" %></li>
    <li class="list-group-item"><%= form.submit "Check" %></li>
     <% elsif %>
     <% destroy_game_session %>
     <% end %>

    <% end %>

  <%= @check_word %>
<br>
<br>

<p>
  <% for letter,colour in @alphabet do  %>
     <%=  content_tag(:span, letter, :'style' => "background-color:#{colour}"  )  %>
  <% end %>        
</p>

<!-- GAME ALREADY PLAYED -->   
<% elsif %>
             <h5 class="card-title">Try another day. </h5>
<% end %>

<!-- GAME CARD ENDS HERE -->      
      </p>
      <p class="card-text"><small class="text-muted">placeholder</small></p>
    </div>
  </div>

