
<div class="card" style="width: 10rem;">
  <ul class="list-group list-group-flush">

    <%= form_with url: "/check_word", method: :get do |form| %>

    <li class="list-group-item"><%= form.text_field :word1, size: "10x1", value: @words[:word1] %></li>
    <li class="list-group-item"><%= form.text_field :word2, size: "10x1", value: @words[:word2] %></li>
    <li class="list-group-item"><%= form.text_field :word3, size: "10x1", value: @words[:word3] %></li>
    <li class="list-group-item"><%= form.text_field :word4, size: "10x1", value: @words[:word4] %></li>
    <li class="list-group-item"><%= form.text_field :word5, size: "10x1", value: @words[:word5] %></li>
    <li class="list-group-item"><%= form.text_field :word6, size: "10x1", value: @words[:word6] %></li>
    <li class="list-group-item"><%= form.submit "Check" %></li>
    <% end %>
  </ul>


 

</div>
