<pre>
<%= pp @debug_me %>
</pre>


<div class="card" style="width: 10rem;">
  <ul class="list-group list-group-flush">

    <%= form_with url: "/check_word", method: :get do |form| %>

      <% @submitted_word_symbols.each do |word_symbol| %>
        <p><%= @words[word_symbol] %></p>
        <%= form.hidden_field word_symbol, value: @words[word_symbol] %>
      <% end %>

    <li class="list-group-item"><%= form.text_field @next_word_symbol, maxlength: "5" %></li>

    <li class="list-group-item"><%= form.submit "Check" %></li>
    <% end %>
  </ul>

  <%= pp @check_word %>


 

</div>
