<p><br></p>
<% if session[:user_id] %>
    <%= form_with url: "/logout", method: :get do |form| %>
        <li class="list-group-item"><p>Do you wish to logout from <%= User.find_by(id: session[:user_id])[:username] %> ?</p>
            <%= form.submit "Logout" %>
        </li>
    <% end %>

<% elsif %>
    <%= form_with url: "/users", method: :post do |form| %>
        <li class="list-group-item"><%= form.text_field :user, minlength: "1" %> <%= form.submit "Login" %></li>
    <% end %>

<% end %>


