

<nav class="nav">
<%= link_to 'Home', root_path, class: "nav-link" %> 

<%= link_to "Start Game", check_word_path, class:"nav-link"  %>

<%= link_to "Scorecard", games_path, class:"nav-link" %>

<% if session[:user_id].nil? %>
    <%= link_to "Login", users_path, class:"nav-link disabled" %> 
<% elsif %>
    <%= link_to User.find_by(id: session[:user_id])[:username], users_path, class:"nav-link" %> 
<% end %>

<% flash.each do |_, message| %>
    <div class="alert alert-primary" role="alert">
    <small><%= message %></small>
    </div>
<% end %>




</nav>

