    
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Game</h5>      
      <p class="card-text">
<!-- Personal Scorecard STARTS HERE  -->

<!-- Personal Scorecard ENDS HERE  -->
      </p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
</div>


<div class="card">
    <div class="card-body">
      <h5 class="card-title">Scorecard</h5>      
      <p class="card-text">
<!--  Scorecards STARTS HERE  -->
<% if session[:user_id] %>

  <% if @games.empty? %>
    <p>No games played</p>
  <% elsif %>
    
    <% @personal_stats.each do |stat,value| %>

      <% if stat == "Row Distribution" %>
        <span class="text-bg-dark"> <%= stat %> </span> <br>
        <% value.each do |row, times| %>  
          <span class="text-bg-dark"> <%= row %> </span>
          <span class="text-bg-light"> <%= times %> </span> <br>
        <% end %>  
      <% elsif %>  
          <span class="text-bg-dark"> <%= stat %> </span>
          <span class="text-bg-light"> <%= value %> </span> <br>

      <% end %>  
 
    <% end  %>


  <% end %>

<% elsif %>  
  <p>you're not logged in</p>
<% end %>


<!--  Scorecards ENDS HERE  -->
      </p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
</div>

